.burger_constructor {
  width: 600px;
  color: #F2F2F3;
}

.elements {
  max-height: 444px;
  overflow-y: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.element {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.element:last-child {
  margin-bottom: 0;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cost {
  display: flex;
  align-items: center;
}

.text {
  font-family: Iceland;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 36px;
}
