.burger-ingredients {
  font-family: 'Jet Brains Mono';
  color: #F2F2F3;
  max-width: 600px;
}

.burger-ingredients__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: #F2F2F3;
}

.burger-ingredients__menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.burger-ingredients__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 40px;
}

.burger-ingredients__categories {
  margin: 40px 0 24px;
}

.burger-ingredients__article {
  display: flex;
  flex-direction: column;
  width: 272px;
}

.burger-ingredients__cost {
  margin: 8px auto;
}

.burger-ingredients__categories {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.burger-ingredients__description {
  margin: 0;
}
