.header {
  background-color: var(--background);
  width: 100vw;
}
.menu {
  display: flex;
  align-items: center;
  max-width: 1312px;
  height: 56px;
  margin: 0 auto;
}

.menu__link {
  display: flex;
  text-decoration: none;
  color: var(--text-inactive-color);
}

.menu__link:first-child {
  color: var(--text-primary-color);
}

.menu__link:nth-child(2) {
  margin-left: 9px;
}

.menu__link:last-child {
  margin-left: auto;
}

.menu__text {
  padding: 0;
  margin: 0;
  margin-left: 9px;
}

.menu__logo {
  margin-left: 82px;
}
